<div class="nav flex-column nav-pills">
    <a asp-area="" asp-controller="UserStores" asp-action="ListStores" class="nav-link" id="Stores">Stores</a>
    <a asp-area="" asp-controller="Apps" asp-action="ListApps" class="nav-link" id="Apps">Apps</a>
    <a asp-area="" asp-controller="Wallets" asp-action="ListWallets" class="nav-link" id="Wallets">Wallets</a>
    <a asp-area="" asp-controller="Invoice" asp-action="ListInvoices" class="nav-link" id="Invoices">Invoices</a>
    <a asp-area="" asp-controller="PaymentRequest" asp-action="GetPaymentRequests" class="nav-link" id="PaymentRequests">Payment Requests</a>
</div>
